@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Lato', sans-serif; /* Применяет основной шрифт из вашего конфига */
  }
  h1, h2, h3, .font-serif {
    font-family: 'Cinzel', serif !important; /* Принудительно включает шрифт для заголовков */
  }
}
