/* Подключение Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Lato:wght@300;400;700&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Применение шрифтов через Tailwind */
@layer base {
  body {
    @apply font-sans;
  }

  h1, h2, h3, h4 {
    @apply font-serif;
  }
}
