/* index.css */

/* 1. Подключение Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Lato:wght@300;400;700&display=swap');

/* 2. Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Применение шрифтов через Tailwind */
@layer base {
  body {
    @apply font-sans; /* Lato для основного текста */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif; /* Cinzel для заголовков */
  }
}
